# ==============================================================================
# CẤU HÌNH HUẤN LUYỆN TRANSFORMER (KH-VI) - Tối ưu cho 105.000 câu
# ==============================================================================

# 1. DATA LOCATION VÀ CONFIG
data:
  # data/ALT/train.bpe.km và data/ALT/train.bpe.vi
  train_data_location: data/Khmer/train
  # data/ALT/test.bpe.km và data/ALT/test.bpe.vi
  eval_data_location: data/Khmer/val
  src_lang: .token.km # Khmer
  trg_lang: .token.vi # Việt
  
# Các tham số chung
log_file_models: 'model.log'
lowercase: false
device: cuda 

# 2. MODEL PARAMETERS (Đã tối ưu cho mô hình Base)
d_model: 256
n_layers: 6  
heads: 4
dropout: 0.35
# d_ff mặc định: 2048

# 3. VOCAB CONFIG
build_vocab_kwargs: 
  # max_size: 50000
  min_freq: 5 # Yêu cầu từ/subword xuất hiện ít nhất 5 lần

# 4. OPTIMIZER VÀ LEARNING RATE
lr: 1.0 # <-- ĐIỀU CHỈNH: Giá trị chuẩn cho ScheduledOptim
optimizer: AdaBelief
optimizer_params:
  betas:
    - 0.9 
    - 0.98 
  eps: !!float 1e-9
n_warmup_steps: 4000 # Số bước khởi động
label_smoothing: 0.1 

# 5. TRAINING VÀ EVALUATION CONFIG
batch_size: 32
eval_batch_size: 4
epochs: 20 
printevery: 200 
save_checkpoint_epochs: 1
maximum_saved_model_eval: 5
maximum_saved_model_train: 5
train_max_length: 100 # <-- ĐÃ TĂNG LÊN (Tối ưu cho 105k câu)

# 6. INFERENCE CONFIG
decode_strategy: BeamSearch
decode_strategy_kwargs:
  beam_size: 5 
  length_normalize: 0.6 
input_max_length: 100
max_length: 100